@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.about-us {
  min-height: 100vh; /* Sayfa boyu minimum yükseklik */
  padding: 90px 0;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.profile-img-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.profile-img-wrapper img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid #4070f4;
}

.text {
  flex: 1;
  padding: 0 20px;
  max-width: 500px;
}

.text h2 {
  font-size: 2rem; /* 48px */
  font-weight: 600;
  margin-bottom: 10px;
}

.text h5 {
  font-size: 1.3rem; /* 22px */
  font-weight: 500;
  margin-bottom: 20px;
}

span {
  color: #4070f4;
}

.text p {
  font-size: 1.125rem; /* 18px */
  line-height: 1.5;
  letter-spacing: 1px;
}

.data {
  margin-top: 40px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.hire{
  font-size: 17px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 9px 35px;
  border-radius: 6px;
  transition: 0.5s;
}

.hire:hover {
  background: #000;
}

/* Navbar */
header {
  background-color: #343a40;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem; /* 16px */
  transition: color 0.3s;
}

.nav-link:hover {
  color: #4070f4;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text {
    padding: 20px 0;
    text-align: center;
  }

  .hire {
    margin-top: 20px;
  }
}

